<!DOCTYPE html>
<html wicket:id="html" xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="utf-8">
<!-- This adds responsive design to the page! -->
<meta wicket:id="viewport">
<meta wicket:id="ie-edge">
<title wicket:id="title">[title comes here]</title>
<meta wicket:id="keywords" content="" name="keywords" />
<meta wicket:id="description" content="" name="description" />
</head>
<body style="padding-top: 60px">
	<wicket:child />
	<wicket:container wicket:id="footer-container"></wicket:container>	
    <pre style="display:none" wicket:id="code-internal"></pre>
</body>
</html>
